*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-image: url(img/banner3-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-bottom: 100px;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(202, 102, 3, 0.613);
    width: 95%;
    height: 5%;
    padding: 50px;
    position: fixed;
}

nav ul{
    display: flex;
    align-items: center;
    align-content: center;
    list-style: none;
    gap: 30px;
}

nav a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

nav a:hover{
    color: rgb(255, 242, 0);
    transform: scale(1.2);
    text-decoration: none;
}

.active{
    color: rgb(255, 242, 0);
    font-size: 1.4rem;
}

.logo{
    height: 200px;
    width: 200px;;
    border-radius: 20px;
}

section{
    margin-bottom: 100px;
}

section img{
    height: 400px;
    min-width: 550px;
    border-radius: 50px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.infoDiv{
    margin: 20px;
}

.section_sobre{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.3rem; 
}

.text_sobre{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section_sobre p{ 
    text-align: justify;
    width: 70%;
}

.section_historia{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    font-size: 1.3rem; 
}

.text_historia{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 25px;
}

.section_historia p{ 
    text-align: justify;
    width: 70%;
}

.section_loc{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-size: 1.5rem; 
}

.text_loc{
    text-align: center;
    font-size: 1.8rem; 
}

.section_loc p{ 
    text-align: justify;
}

.section_exposições{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-size: 1.5rem; 
}

.exposicoes{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.8fr;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
}

.exposicao{
    text-align: center;
}

.exposicao img{
    height: 350px;
    width: 500px;
    min-width: 500px;
}

.exposicao img:hover{
    transform: scale(1.02);
    transition: transform 0.5s;
}

.section_tuor{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-size: 1.5rem; 
}

footer{
    background-color: orange;
    color: black;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes_sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes_sociais i{
    font-size: 3rem;
}

.redes_sociais a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}